.vs

/Homagix/Homagix.Client/bin/
/Homagix/Homagix.Client/obj/
/Homagix/Homagix.Server/bin/
/Homagix/Homagix.Server/obj/
/Homagix/Homagix.Shared/bin/
/Homagix/Homagix.Shared/obj/

/Homagix/Homagix.Server/Properties/PublishProfiles
/Homagix/Homagix.Server/test.txt

/Homagix/Homagix.Server/DataBase/weeks.json
/Homagix/Homagix.Server/DataBase/recipe.json
/Homagix/Homagix.Server/DataBase/purchases.json
/Homagix/Homagix.Server/DataBase/ingredients.json

/.idea
/node_modules/
/shoppingLists/
/coverage/
/build/
