html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

h1{
  margin: 0;
  padding-top: 5px;
  background: linear-gradient(to bottom right, #999999, #BBBBBB);
  color: #FFFF00;
  overflow: hidden;
}

h2 {
  margin: 5px 0 10px;
  font-size: 18px;
}

#root {
  padding-bottom: 1em;
}

.App-logo {
  height: 1.3em;
  vertical-align: middle;
  margin: -15px 10px 0 0;
  transform: scale(1.6);
}

.App {
  max-width: 800px;
  padding: 5px 10px;
}

.react-tabs {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 10px 0 10px 30px;
  border-bottom: 1px solid #bbbbbb;
  position: relative;
}

button {
  cursor: pointer;
  background: white;
}

button.delete {
  border: none;
  color: red;
  font-size: 1.6em;
  position: absolute;
  top: 2px;
  left: 0;
  padding: 0 3px;
}

button.accept {
  border: none;
  color: lightgray;
  font-size: 1.3em;
  position: absolute;
  right: 0;
  top: 6px;
  padding: 0 3px;
}

.accepted button.accept {
  color: green;
}

button:focus {
  outline:0;
  background: white;
}

button:hover {
  background: #dddddd;
}

button:active {
  background: #bbbbbb;
}

.inhibited:after {
  content: '';
  display: block;
  border-bottom: 3px solid #888888;
  position: absolute;
  top: 20px;
  left: 5px;
  right: 0;
}

.info {
  padding: 10px;
}

#additionalItem {
  font-size: 16px;
  width: 100%;
  border: none;
}

.fading {
  opacity: 0.001;
  transition: opacity 1s;
}

#startDate {
  font-size: 15px;
  width: 77px;
}

#accept-proposals,
.print-button {
  padding: 5px 20px;
  border: 2px solid #aaaaaa;
  border-radius: 4px;
  font-size: 1em;
  margin-right: 1em;
}

@media screen {
  .App {
    margin: 0 auto;
    justify-content: space-around;
  }
}

@media (min-width: 640px) {
  .App {
    display: flex;
    flex-direction: column;
  }

  ul {
    margin: 1em;
  }
}

@media print {
  @media (max-width: 640px) {
    body {
      zoom: 0.7;
    }
  }

  .App {
    justify-content: space-between;
  }

  button, .react-tabs__tab-list {
    display: none;
  }

  ul li {
    padding: 10px;
  }

  .ProposalsList li:not(.accepted),
  .IngredientsList li.inhibited {
    display: none;
  }

  .react-tabs {
    display: flex;
  }

  .react-tabs .react-tabs__tab-panel {
    display: block;
  }

  .react-tabs .react-tabs__tab-panel:last-of-type {
    display: none;
  }

  .ItemGroup {
    display: none;
  }
}
