.last-served {
  background: #aaaaaa;
  padding: 2px 5px;
  border-radius: 4px;
  color: white;
  font-size: 80%;
  vertical-align: text-top;
  margin-left: 1em;
}

@media print {
  .ingredient-list, .last-served {
    display: none;
  }
}
