.IngredientsList li {
  padding-right: 30px;
}

.IngredientsList li button.inline {
  right: -30px;
}

.IngredientsList li:last-of-type {
  padding-right: 15px;
}

.ItemGroup  {
  float: right;
  font-size: 15px;
  border: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  padding: 2px 10px;
  border-radius: 3px;
  -ms-text-align-last: center;
  text-align-last: center;
  margin-right: -25px;
}

#additionalItem input {
  display: inline-block;
  font-size: 16px;
  width: calc(100% - 25px);
  padding: 5px;
  border: 1px solid lightgrey;
}

#additionalItem:after {
  content: '+';
  display: inline-block;
  position: absolute;
  right: 3px;
  font-size: 28px;
  color: #009900;
}

.modified {
  color: white;
  transition: all .5s;
}

@media screen and (max-width: 640px) {
  .ItemGroup {
    padding: 5px 0;
    font-size: 11px;
  }
}

@media screen {
  .unit {
    display: inline-block;
    width: 50px;
    margin: 0 5px;
  }

  .amount {
    display: inline-block;
    width: 50px;
    text-align: right;
  }
}

.color-fruit {
  background-color: darkgreen;
  color: yellow;
}

.color-breakfast {
  background-color: yellow;
  color: saddlebrown;
}

.color-meat {
  background-color: darkred;
  color: yellow;
}

.color-cooled {
  background-color: cornflowerblue;
  color: white;
}

.color-tinned {
  background-color: lightgrey;
  color: black;
}

.color-drinks {
  background-color: yellowgreen;
  color: yellow;
}

.color-frozen {
  background-color: blue;
  color: white;
}
